<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Axios-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <!--VueJs-->
  <script src="https://unpkg.com/vue@3"></script>

  <title>Vue email List</title>
</head>
<body>
  <div id="app">
    <p v-if="mailList.length < 10">LOADING...</p>
    <ul v-else>
      <li v-for="mail in mailList">{{mail}}</li>
    </ul>

    
    
  </div>

  <script src="js/script.js"></script>
</body>
</html>